.auth-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  mat-card {
    width: 100%;
    max-width: 600px;
  }
}

mat-card-title {
  display: flex;
  align-items: center !important;
  gap: 5px;
}
