<div class="container-stepper">
  <div class="stepper">
    <div class="step" [class.active]="stepper.selectedIndex === 0" [class.done]="stepper.selectedIndex > 0">
      <span class="circulo">1</span>
      <small>Identificação</small>
    </div>
    <div class="linha"></div>
    <div class="step" [class.active]="stepper.selectedIndex === 1" [class.done]="stepper.selectedIndex > 1">
      <span class="circulo">2</span>
      <small>Objetivos</small>
    </div>
    <div class="linha"></div>
    <div class="step" [class.active]="stepper.selectedIndex === 2" [class.done]="stepper.selectedIndex > 2">
      <span class="circulo">3</span>
      <small>Premissas</small>
    </div>
    <div class="linha"></div>
    <div class="step" [class.active]="stepper.selectedIndex === 3" [class.done]="stepper.selectedIndex > 3">
      <span class="circulo">4</span>
      <small>Riscos e Restrições</small>
    </div>
    <div class="linha"></div>
    <div class="step" [class.active]="stepper.selectedIndex === 4" [class.done]="stepper.selectedIndex > 4">
      <span class="circulo">5</span>
      <small>Aceitação do Secretário</small>
    </div>
    <div class="linha"></div>
    <div class="step" [class.active]="stepper.selectedIndex === 5" [class.done]="stepper.selectedIndex > 5">
      <span class="circulo">6</span>
      <small>Análise de viabilidade</small>
    </div>
  </div>
</div>

<mat-stepper linear #stepper class="custom-stepper">
  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Identificação</ng-template>

          <div class="field-6 campo-container">
            <label id="titulo-campo">Título do projeto *</label>
            <input matInput formControlName="tituloProjeto" placeholder="Informe o título do projeto" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('tituloProjeto')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-6 campo-container">
            <label id="titulo-campo">Descrição do projeto *</label>
            <input matInput formControlName="descricaoProjeto" placeholder="Descrição do projeto" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('descricaoProjeto')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-6 campo-container">
            <label id="titulo-campo">Responsável área solicitante *</label>
            <input matInput formControlName="responsavelProjeto" placeholder="Nome completo" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('responsavelProjeto')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-6 campo-container">
            <label id="titulo-campo">Motivação *</label>
            <input matInput formControlName="motivacaoProjeto" placeholder="Informe a motivação do projeto" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('motivacaoProjeto')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-footer>
          <button class="salvar" mat-button (click)="avancar(stepper)">
            <mat-icon>arrow_forward</mat-icon>Avançar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Objetivos</ng-template>

          <div class="field-12 campo-container">
            <label id="titulo-campo">Objetivos específicos do projeto *</label>
            <textarea matInput formControlName="objetivosEspecificosProjeto" maxlength="1200" rows="6"></textarea>
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('objetivosEspecificosProjeto')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-content>
          <mat-card-header>
            <h2>Objetivos estratégicos da Sesa</h2>
            <span class="spaco-menu"></span>
            <button class="salvar" mat-button matStepperNext>
              <mat-icon>add</mat-icon>Adicionar
            </button>
          </mat-card-header>

          <app-nada-encontrado></app-nada-encontrado>
        </mat-card-content>

        <mat-card-footer>
          <button class="cancelar" mat-button (click)="voltar(stepper)">
            <mat-icon>arrow_back</mat-icon>Voltar
          </button>
          <button class="salvar" mat-button (click)="avancar(stepper)">
            <mat-icon>arrow_forward</mat-icon>Avançar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Premissas</ng-template>

          <div class="field-12 campo-container">
            <label id="titulo-campo">Premissas*</label>
            <textarea matInput formControlName="premissas" maxlength="1200" rows="6"></textarea>
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('premissas')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-footer>
          <button class="cancelar" mat-button (click)="voltar(stepper)">
            <mat-icon>arrow_back</mat-icon>Voltar
          </button>
          <button class="salvar" mat-button (click)="avancar(stepper)">
            <mat-icon>arrow_forward</mat-icon>Avançar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Riscos e Restrições</ng-template>

          <div class="field-12 campo-container">
            <label id="titulo-campo">Riscos*</label>
            <input matInput formControlName="riscos" placeholder="Informe os riscos" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('riscos')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-12 campo-container">
            <label id="titulo-campo">Restrições*</label>
            <input matInput formControlName="restricoes" placeholder="Informe as restrições" />

            <mat-error>
              <app-erro [dadosCampo]="formulario.get('restricoes')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-footer>
          <button class="cancelar" mat-button (click)="voltar(stepper)">
            <mat-icon>arrow_back</mat-icon>Voltar
          </button>
          <button class="salvar" mat-button (click)="avancar(stepper)">
            <mat-icon>arrow_forward</mat-icon>Avançar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Aceitação do Secretário</ng-template>

          <div class="field-12 campo-container">
            <label id="titulo-campo">Aprovação*</label>

            <mat-select formControlName="aprovacao" placeholder="Selecione">
              <mat-option *ngFor="let resposta of respostaEnum" [value]="resposta.id">
                {{ resposta.descricao }}
              </mat-option>
            </mat-select>

            <mat-error>
              <app-erro [dadosCampo]="formulario.get('aprovacao')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-footer>
          <button class="cancelar" mat-button (click)="voltar(stepper)">
            <mat-icon>arrow_back</mat-icon>Voltar
          </button>
          <button class="salvar" mat-button (click)="avancar(stepper)">
            <mat-icon>arrow_forward</mat-icon>Avançar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="formulario">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formulario" class="container">
          <ng-template matStepLabel>Análise de viabilidade</ng-template>

          <div class="field-4 campo-container">
            <label id="titulo-campo">Este projeto é viavél?*</label>
            <input matInput formControlName="projetoViavel" placeholder="Selecione" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('projetoViavel')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-4 campo-container">
            <label id="titulo-campo">Estimativa de tempo*</label>
            <input matInput formControlName="estimativaTempo" placeholder="Informe as estimativa de tempo do projeto" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('estimativaTempo')"> </app-erro>
            </mat-error>
          </div>

          <div class="field-4 campo-container">
            <label id="titulo-campo">Estimativa de custo*</label>
            <input matInput formControlName="estimativaCusto" placeholder="Informe as estimativa de custo do projeto" />
            <mat-error>
              <app-erro [dadosCampo]="formulario.get('estimativaCusto')"> </app-erro>
            </mat-error>
          </div>
        </form>

        <mat-card-footer>
          <button class="cancelar" mat-button (click)="voltar(stepper)">
            <mat-icon>arrow_back</mat-icon>Voltar
          </button>
          <button class="salvar" mat-button (click)="enviar()">
            <mat-icon>send</mat-icon>Enviar
          </button>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-step>
</mat-stepper>