<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>{{ !ehEdicao ? 'person_add' : 'edit' }}</mat-icon>
      {{ !ehEdicao ? "Cadastrar usuário" : "Editar usuário" }}
    </mat-card-title>
  </mat-card-header>
  <button type="button" mat-icon-button class="btn-fechar" (click)="cancelar()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-content>
    <form [formGroup]="formulario" class="container">
      <mat-form-field appearance="outline" floatLabel="always" class="field-12">
        <mat-label>Nome</mat-label>
        <mat-icon matPrefix>badge</mat-icon>
        <input matInput formControlName="nome" />
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('nome')"> </app-erro>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-12">
        <mat-label>E-mail</mat-label>
        <mat-icon matPrefix>alternate_email</mat-icon>
        <input matInput type="email" formControlName="email" />
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('email')"> </app-erro>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-12">
        <mat-label>Perfil</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <mat-select formControlName="perfil">
          <mat-option *ngFor="let perfil of listaPerfilEnum" [value]="perfil.id">
            {{ perfil.descricao }}
          </mat-option>
        </mat-select>
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('perfil')"> </app-erro>
        </mat-error>
      </mat-form-field>

      @if(!ehEdicao){
      <mat-form-field appearance="outline" floatLabel="always" class="field-6">
        <mat-label>Senha</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="mostrarSenha ? 'text' : 'password'" formControlName="senha" />
        <button mat-icon-button matSuffix (click)="mostrarSenha = !mostrarSenha" type="button">
          <mat-icon>{{
            mostrarSenha ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('senha')"></app-erro>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="field-6">
        <mat-label>Repita Senha</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="mostrarConfirmarSenha ? 'text' : 'password'" formControlName="confirmarSenha" />
        <button mat-icon-button matSuffix (click)="mostrarConfirmarSenha = !mostrarConfirmarSenha" type="button">
          <mat-icon>{{
            mostrarConfirmarSenha ? "visibility_off" : "visibility"
            }}</mat-icon>
        </button>
        <mat-error>
          <app-erro [dadosCampo]="formulario.get('confirmarSenha')"></app-erro>
        </mat-error>
      </mat-form-field>
      }
    </form>

    <mat-card-actions style="display: flex; align-self: center">
      <button type="submit" mat-flat-button class="btn-primary" (click)="salvar()" [disabled]="formulario.untouched">
        <mat-icon>{{ !ehEdicao ? "add" : "save" }}</mat-icon>
        {{ !ehEdicao ? "Cadastrar" : "Salvar" }}
      </button>

      <button type="button" mat-stroked-button class="btn-secondary" (click)="cancelar()">
        <mat-icon>close</mat-icon>
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>