<mat-card style="margin: 20px !important">
  <mat-card-content style="background-color: #ffffff !important">
    <form [formGroup]="formulario" class="container">
      <div class="field-3 campo-container">
        <label id="titulo-campo">Período de envio</label>
        <input matInput [matDatepicker]="periodo" formControlName="periodoEnvio" />
        <mat-datepicker-toggle [for]="periodo" matSuffix />
        <mat-datepicker #periodo />
      </div>

      <div class="field-3 campo-container">
        <label id="titulo-campo">Projeto</label>
        <input matInput formControlName="tituloProjeto" placeholder="Informe o nome do projeto" />
      </div>

      <div class="field-3 campo-container">
        <label id="titulo-campo">Área demandante</label>
        <input matInput formControlName="responsavelProjeto" placeholder="Informe a área demandante" />
      </div>

      <div class="field-3 campo-container">
        <label id="titulo-campo">Status</label>
        <mat-select formControlName="statusProjeto" placeholder="Selecione">
          <mat-option *ngFor="let status of statusDemandaEnum" [value]="status.id">
            {{ status.descricao }}
          </mat-option>
        </mat-select>
      </div>

      <div class="field-3 campo-container">
        <label id="titulo-campo">Prioridade</label>
        <mat-select formControlName="prioridade" placeholder="Selecione">
          <mat-option *ngFor="let prioridade of prioridadeEnum" [value]="prioridade.id">
            {{ prioridade.descricao }}
          </mat-option>
        </mat-select>
      </div>

      <div class="field-3 campo-container">
        <label id="titulo-campo">Prazo estimado</label>

        <input matInput [matDatepicker]="estimativa" formControlName="estimativaTempo" />
        <mat-datepicker-toggle [for]="estimativa" matSuffix />
        <mat-datepicker #estimativa />
      </div>

      <mat-card-actions>
        <button class="salvar" mat-button (click)="filtrar()"> <mat-icon>search</mat-icon>Filtrar</button>
        <button class="cancelar" mat-button (click)="limpar()"><mat-icon>clear</mat-icon>Limpar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>