mat-card-header {
  background-color: #077187 !important;
  margin-bottom: 30px !important;
  mat-card-title {
    color: #fff !important;
  }
}

mat-card {
  padding: 0px !important;
}

.btn-fechar {
  color: #fff;
  position: absolute;
  right: 8px;
  top: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}
