@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Poppins, sans-serif',
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
}

.salvar,
.cancelar {
  width: 120px;
}

.salvar {
  background-color: #0e534e !important;
  color: #fff !important;
}

.cancelar {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #0e534e !important;
  border: solid 1px #0e534e !important;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  width: 100%;
}

.field-1 {
  grid-column: span 1;
  margin: 0px;
  width: 100%;
}

.field-2 {
  grid-column: span 2;
  margin: 0px;
  width: 100%;
}

.field-3 {
  grid-column: span 3;
  margin: 0px;
  width: 100%;
}

.field-4 {
  grid-column: span 4;
  margin: 0px;
  width: 100%;
}

.field-5 {
  grid-column: span 5;
  margin: 0px;
  width: 100%;
}

.field-6 {
  grid-column: span 6;
  margin: 0px;
  width: 100%;
}

.field-12 {
  grid-column: span 12;
  margin: 0px;
  width: 100%;
}

@media (max-width: 768px) {
  .field-1,
  .field-2,
  .field-3,
  .field-4,
  .field-5,
  .field-6,
  .field-7,
  .field-8,
  .field-9,
  .field-10,
  .field-11,
  .field-12 {
    grid-column: span 12;
    margin: 0px;
    width: 100%;
  }
}
