<div class="rodape">
  <div class="rodape-conteudo">
    <div class="rodape-infomacoes">
      <div class="rodape-texto">
        <span class="titulo"><mat-icon class="rodape-icone">health_and_safety</mat-icon>Gepes</span>
        <span class="subtitulo">Gestão estratégica de projetos secretariado</span>
      </div>
    </div>

    <div>
      <button mat-button>Suporte</button>
      <button mat-button>Documentação</button>
      <button mat-button>Contato</button>
    </div>
  </div>

  <div class="rodape-creditos">
    <span>© 2026 Gepes - All rights reserved</span>
    <span class="versao">v1.0.0</span>
  </div>
</div>